.wd-search{
    position: absolute;
    top:20px;
    left:40px;
    color:gray;
}
.wd-settings{
    position: absolute;
    right: 20px;
}
.wd-image{
    width: 78%;
    border-radius:100px;
}

/*@media (min-width: 992px){*/
/*    .wd-image{*/
/*        width: 68%;*/
/*        border-radius:100px;*/
/*    }*/
/*}*/

.wd-black{
    background-color: black;
}
.wd-darkgray{
    border-color: #212529;
}

.wd-text-color{
    color:gray;
}

.wd-text-font{
    font-size: 15px;
}


.wd-flag-size{
    width: 20px;
}

.wd-selected{
    color: white;
    border-bottom: solid 5px;
    border-color:rgb(29,161,242);
    padding-bottom: 5px;
}

.wd-border{
    border: solid 1px rgb(47, 51, 54);

}

.wd-main-content-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.wd-no-border{
    border:0px;
}

.wd-nav-padding{
    padding-bottom: 0px;
}

.wd-head-left{
    bottom: 70px;
    left: 11px;
}
.wd-more-image{
    width: 20px;
}
.wd-overlay-text{
    left:10px;
    right:2px;
}

.wd-image-width{
    width: 20px;
}

.wd-image-size{
    width:12px;
}

.wd-saturn-size{
    width:25px;
}

.wd-tuit-color{
    background-color: rgb(29,161,242);
    color: white;
}

.wd-text-color-blue{
    color: rgb(29,161,242);
}