/*.wd-search{*/
/*    position: absolute;*/
/*    top:11px;*/
/*    left:25px;*/
/*}*/
/*.wd-settings{*/
/*    position: absolute;*/
/*    right: 20px;*/
/*}*/
/*.wd-image{*/
/*    width: 78%;*/
/*    border-radius:100px;*/
/*}*/

/*.wd-overlay-text{*/
/*    left:10px;*/
/*}*/


.wd-bookmark-card {
    border: solid 1px lightgray;
    border-radius: 20px;

}

.wd-body-image{
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 0px;
    padding-right:0px;
}

.wd-bookmark-title {
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-top: 12px;
}

.wd-bookmarks-text {
    color: lightgray;
    font-size: 15px;
    margin-bottom: 3px;

}

.wd-bookmarks-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wd-block {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.wd-icon {
    width: 15px;
    height: 15px;
    margin-right: 12px;
}

.wd-number {
    font-size: 15px;
    color: lightgray;
}

.wd-avatar-icon{
    position: relative;
    width: 50px;
    height:50px;
}